* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 940 px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  top: 0;
  background-color: inherit;
  width: 100%;
  position: fixed;
}

.bar {
  list-style-type: none;
  margin: 0;
  padding: 10px 0;

}

.nav {
  color: #C5B358;
  display: inline;
  font-family: 'Philosopher', sans-serif;
  font-weight: bold;
  font-size: 14px;
  margin-right: 25px;
  text-transform: uppercase;
}


.action {
  color: #C5B358;
  display: inline;
  font-family: 'Philosopher', sans-serif;
  font-weight: bold;
  font-size: 14px;
  margin-left: 25px;
  text-transform: uppercase;
  float: right;
  padding-top: 1px;
}

.jumbotron {
  background: url(http://res.cloudinary.com/chu327/image/upload/v1490819009/jumbotron_2_em75ww.jpg) no-repeat center center;
  background-size: cover;
  height: 750px;
}


.main h1 {
  margin: 0 auto;
  font-family: 'Tangerine', cursive;
  font-size: 100px;
  font-style: oblique;
  font-weight: bold;
  color: #D4AF37;
  text-align: center;
  padding-top: 70px;

}

.slogon {
  font-family: 'Overlock', cursive;
  color: rgb(61, 62, 63);
  font-size: 20px;
  font-weight:bold;
  text-align: center;
}

.category1 {
  margin: 0;
  background-color:rgb(255, 227, 214);
  width: 550px;
  height: 250px;
}

.series1 h2 {
  margin: 0 auto;
  color: rgb(55, 56, 58);
  text-align: center;
  padding-top: 100px;
  font-family:'Raleway', sans-serif;
  font-size: 35px;
}

.category2 {
  margin: 0 auto;
  background-color: rgb(255, 198, 228);
  width: 550px;
  height: 250px;
  float: right;
}

.series2 h2 {
  margin: 0 auto;
  text-align: center;
  color: rgb(55, 56, 58);
  padding-top: 100px;
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
}

.category3 {
  margin: 0;
  background-color: rgb(188, 236, 255);
  width: 550px;
  height:250px;
}

.series3 h2 {
  margin: 0;
  text-align: center;
  color:  rgb(55, 56, 58);
  padding-top: 100px;
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
}
